.input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C2CDDD;
  border-radius: 3px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 16px/24px Univers LT Std;
  letter-spacing: 0px;
  color: #CACFD5;
  opacity: 1;
}
